* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

#header {
  background: url(./images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 800px;
  color: white;
  position: relative;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

nav {
  padding: 30px 0;
  overflow: hidden;
}

nav img {
  float: left;
  width: 60px;
}

/* висячее меню */
nav ul {
  position: fixed;
  right: 0;
  width: 600px;
  background-color: rgba(45, 45, 45, 0.3);
  top: 40px;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  width: 100px;
  padding: 15px 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}

nav ul li:hover,
.sub-menu ul li:hover {
  background-color: rgba(45, 45, 45, 0.7);
}

.sub-menu ul {
  position: absolute;
  right: 400px;
  width: 100px;
  display: none;
}

.sub-menu ul li {
  padding: 15px;
}

ul li:hover ul {
  display: block;
  margin-top: 10px;
}

.middle-box {
  margin-top: 130px;
  text-align: center;
}

.middle-box h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.middle-box p {
  width: 60%;
  margin: 15px auto;
}

.buttons {
  text-align: center;
  padding: 15px;
}

.btn {
  border: 2px solid white;
  text-decoration: none;
  width: 150px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  margin: 0 20px;
  _padding: 5px 0;
  font-size: 0.8rem;
  line-height: 36px;
}

.btn img,
.btn span {
  vertical-align: middle;
}

.btn img {
  margin-right: 5px;
}

.btn-more {
  background-color: orange;
}

.btn:hover {
  background-color: rgba(255, 166, 0, 0.651);
}

.btn-message {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: orange;
  padding: 15px;
  border-radius: 10px;
}

.btn-message:hover {
  border: 3px solid white;
}

/* sport section */

.sport .container {
  position: relative;
  margin-top: 50px;
  height: 1000px;
  color: white;
  padding-bottom: 30px;
}

.circle {
  width: 200px;
  height: 200px;
  position: relative;
  top: 270px;
  margin-right: 50px;
  border: 40px solid aqua;
  display: inline-block;
  border-radius: 50%;
}

.text-box {
  background-color: aqua;
  padding: 30px 50px 90px;
  width: 60%;
  display: inline-block;
  position: absolute;
  right: 30px;
  height: 470px;
}

.text-box h2 {
  font-size: 2.9rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.text-box p {
  font-size: 100;
  margin-bottom: 20px;
  line-height: 1.2;
}

.image-link {
  font-style: italic;
  font-size: 0.8rem;
}

.image-link span {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.text-box button {
  padding: 10px 40px;
  background-color: white;
  color: aqua;
  text-transform: uppercase;
  border: 0px;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.main-image {
  position: relative;
  width: 480px;
  height: 480px;
  background: url(./images1/images/try-min.jpeg);
  border-radius: 50%;
  background-size: cover;
  top: 140px;
  left: 20px;
  box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.459);
}

.solid-circle {
  width: 150px;
  height: 150px;
  background-color: aqua;
  position: absolute;
  border-radius: 50%;
  top: 340px;
  right: 340px;
}

.small-img {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 280px;
  right: -120px;
  background-image: url(./images1/images/sdfee.jpeg);
  border: 16px solid aqua;
  border-radius: 50%;
  box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.459);
}

a#nav-top {
  text-decoration: none;
  color: aqua;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* coach section */

section.coaching {
  background: url(./images/portfolio-portret.jpeg) no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 800px;
}

section.coaching .container {
  width: 35%;
  margin-left: 50%;
  position: relative;
}

.about-me,
.contacts {
  background-color: white;
  padding: 60px 20px;
  height: 300px;
}

.about-me h2,
.contacts h2 {
  /* section.coaching h2 */
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 30px;
}

section.coaching p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

.about-me a {
  color: black;
}

.contacts {
  background-color: black;
  color: white;
}

.contacts a {
  color: white;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
}

.contacts p.phone-number {
  font-weight: 700;
  margin-bottom: 0;
}

.contacts a span {
  text-decoration: underline;
}
