* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}
p {
  margin-top: 10px;
}
p.link1 a:hover {
  color: red;
  font-size: 120%;
}

p.link2 a:hover {
  font-size: 150%;
}

p.link2 a:active {
  background-color: greenyellow;
}

p.link3 a:hover {
  background-color: red;
  color: black;
}

p.link4 a:link,
p.link4 a:visited {
  color: green;
  text-decoration: none;
}

p.link4 a:active,
p.link4 a:hover {
  text-decoration: underline;
}

p.paragraf a:link {
  color: aqua;
}

p.paragraf a:visited {
  color: greenyellow;
}

p.paragraf a:hover {
  background-color: yellow;
}

p.paragraf a:active {
  color: red;
}

p.paragraf:active {
  background-color: #ddd;
}

.hidden-item {
  margin-top: 20px;
}

.hidden-item p {
  display: none;
  background-color: yellow;
  padding: 20px 0;
}

.hidden-item:hover p {
  display: block;
}

nav {
  background-color: green;
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  width: 200px;
}

ul li:hover {
  background-color: rgba(21, 153, 76, 0.8);
}

nav ul li ul {
  position: absolute;
  display: none;
  width: 200px;
}

ul li:hover ul {
  display: block;
}

ul li ul li {
  background-color: rgba(21, 153, 76, 0.8);
}

ul li ul li:hover {
  background-color: rgba(21, 153, 76, 0.8);
}

ul li ul li:first-child a {
  color: aqua;
}

ul li ul li:nth-child(2n):hover {
  background-color: red;
}
